/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --border-color: #353430;
  --border-hover: rgba(53, 52, 48, 0.4);
  --background-color: #FF8DCB;
  --button-color:#353430;
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
  --content-title-color: #353430;
  --text-color-list:#353430;
  --description-color: #353430;
  --menu-color:#fff1f7;
  --accent-color:#353430;
  --decorate-display: none;
  --shadow-s: 2px 2px 0px var(--shadow-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --border-color: #353430;
    --border-hover: rgba(53, 52, 48, 0.4);
    --background-color: #FF8DCB;
    --button-color:#353430;
    --title-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
    --content-title-color: #353430;
    --text-color-list:#353430;
    --description-color: #353430;
    --menu-color:#fff1f7;
    --accent-color:#353430;
    --decorate-display: none;
    --shadow-s: 2px 2px 0px var(--shadow-color);
  }
}


