@media (width >=768px) {
  .header {
    max-height: 1024px;
    padding: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorate {
    top: 20px;
    right: 30px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__description {
    justify-self: end;
    inline-size: 364px;
  }

  .menu {
    grid-template-columns: minmax(100%, 768px);
    gap: 80px;
    padding: 60px 20px;
  }

  .content:last-of-type {
    gap: 20px;
  }

  .content.section-question,
  .content.section-answer {
    grid-template-columns: 1fr 2fr;
  }

  .content__title.text-alignment {
    inline-size: 236px;
  }

  .content__position {
    gap: 20px;
  }

  .content__picture-conteiner {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
    "sunset sunset icecream"
    "tape books icecream"
    "tape street street";
  }

  .picture-sunset {
    grid-area: sunset;
  }
  
  .picture-icecream {
    grid-area: icecream;
  }

  .picture-tape {
    grid-area: tape;
  }

  .picture-books {
    grid-area: books;
  }

  .picture-street {
    grid-area: street;
  }
}

@media (width >=1024px) {
  .header {
    max-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    font-size: var(--header-title-size-l);
  }

  .header__description {
    margin-block-start: 15px;
    inline-size: 491px;
  }


  .content.section-question,
  .content.section-answer {
    gap: 10px;
  }

  .content__title.text-alignment {
    inline-size: 315px;
  }

  .content.section-reason .content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content.section-reason .content__list-item {
    align-self: flex-start;
  }
  
  .footer__title {
    font-size: var(--header-title-size-l);
    text-shadow: 2px 2px 0 #FF0070;
  }
}