/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  overflow-x: hidden;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex mono', monospace;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
  min-block-size: 97vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}
  
.decorate {
  display: var(--decorate-display);
  position: absolute; 
  top: 10px;
  right: 20px;
  align-items: center;
  color: var(--content-title-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.decorate::after {
  content: '';
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--border-color);
  background-color: var(--background-color);
}

.header__theme-menu { 
  justify-self: end;
  margin-block-start: 40px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.header__theme-menu-item {
  color: var(--button-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.header__theme-menu-button{
  padding: 1.5px 13px;
}

.header__theme-menu-button_active:disabled {
  outline: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-hover);
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;

}

.header__title {
  margin-block-start: 15px;
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--header-title-size-s);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__description{
  display: grid;
  gap: 0px;
  align-self: center;
  margin-block-end: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-list);
}

.title-decor {
  background-color: var(--background-color);
}

.menu {
  display: grid;
  grid-template-columns: minmax(100%, 375px);
  gap: 50px;
  padding: 40px 10px;
  background-color: var(--menu-color);
}

.content {
  display: grid;
  gap: 20px;
}

.content:last-of-type {
  gap: 10px;
}

.content__title {
  color: var(--content-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content__list {
  display: grid;
  gap: 20px;
}

.content__list-item {
  display: grid;
  gap: 10px;
}

.content__list-item_title {
  color: var(--text-color-list);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content__list-item_description {
  color: var(--description-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.description-link {
  text-decoration: none;
  text-shadow: var(--shadow-s);
}

.description-link:hover {
  text-decoration: underline;
}

.description-link:focus-visible {
  outline: 1px solid var(--accent-color);
}

.content__subtitle {
  color: var(--text-color-list);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content__grid-position {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.content__picture-conteiner {
  display: grid;
  gap: 10px;
}

.text-normal {
  font-weight: 400;
}

.picture {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  background-color: var(--menu-color);
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--header-title-size-s);
  line-height: 95.7px;
  text-shadow: var(--shadow-s);
}

