/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --border-color: #FF0070;
  --border-hover: rgba(255, 0, 112, 0.4);
  --background-color: #FF0070;
  --button-color:#FF0070;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --content-title-color: #FF0070;
  --text-color-list:#000028;
  --description-color: #F1B2CE;
  --menu-color:#000028;
  --accent-color:#F1B2CE;
  --decorate-display: flex;
  --shadow-s: 2px 2px 0 #FF0070;
  
  --header-title-size-s: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-size-l: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) 
}
