/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-color: #FF0070;
  --title-color: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --text-color-list:#000028;
  --accent-color:#F1B2CE;
  

  --button-color-light: #353430;
  --border-color-light: #353430;
  --title-color-light: #FFC2E6;
  --title-shadow-lighy: #FF8DCB;
  --background-decor-light: #FF8DCB;
  --background-image-light: url(../images/cover-image-light.png);
  --text-color-light: #353430;
  --links-color-light: #353430;

  --header-title-size-s: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-size-l: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) 
}
